{% extends 'base.html.twig' %}

{% block title %}Edit Outcome{% endblock %}

{% block body %}
    <h1>Edit Outcome</h1>

    {{ include('outcome/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_outcome_index') }}">back to list</a>

    {{ include('outcome/_delete_form.html.twig') }}
{% endblock %}
