{% extends 'base.html.twig' %}

{% block title %}Edit Business{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
{% include('navbar.html.twig') %}
<div class="container col-6 offset-3">

    <h1 class="text-center text-pd-yellow mt-3">Mettre a jour mon entreprise</h1>
    <div class="text-white">
    {{ include('business/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="d-flex justify-content-center">
    <a class='btn btn-success' href="{{ path('profile') }}">Retour au profil</a>
    </div>
</div>
{% endblock %}
