{% extends 'base.html.twig' %}

{% block title %}New Business
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container col-6 offset-3">
		<h1 class="text-center text-pd-yellow my-3">Détails de mon entreprise</h1>
		<div class="text-white">
		{{ include('business/_form.html.twig') }}
		{# <a href="{{ path('app_business_index') }}">back to list</a> #}
		</div>
	</div>

	{% endblock %}
