{% extends 'base.html.twig' %}

{% block title %}New Business
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container-fluid bg-pd-blue" style="height:10vh!important"></div>
	<div class="container col-4 offset-4">
		<h1 class="text-center text-pd-yellow my-3">Détails de mon entreprise</h1>

		{{ include('business/_form.html.twig') }}
		<a href="{{ path('app_business_index') }}">back to list</a>
	</div>
	<div class="container-fluid bg-pd-blue position-fixed bottom-0" style="height:10vh!important">

	{% endblock %}
