.bg-pd-green{
    background-color: #95c21f!important;
}
.bg-pd-white{
    background-color: #f6F6F6!important;
}
.bg-pd-red{
    background-color: #e84f1c!important;
}
.bg-pd-bordeaux{
    background-color: #982625!important;
}
.bg-pd-blue{
    background-color: #35aae0!important;
}
.bg-pd-yellow{
    background-color: #f9b234!important;
}
.text-pd-green{
    color: #95c21f!important;
}
.text-pd-white{
    color: #f6F6F6!important;
}
.text-pd-red{
    color: #e84f1c!important;
}
.text-pd-bordeaux{
    color: #982625!important;
}
.text-pd-blue{
    color: #35aae0!important;
}
.text-pd-yellow{
    color: #f9b234!important;
} 