<form method="post" action="{{ path('app_facture_emit_delete', {'id': facture_emit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture_emit.id) }}">
    <button class="btn btn-danger">Effacer la facture</button>
</form>
