<form class="" method="post" action="{{ path('app_performance_delete', {'id': performance.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir effacer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ performance.id) }}">
    <button class="btn btn-danger col">Supprimer</button>
</form>
